:root {
  //font
  --tipo-principal: 'Montserrat', sans-serif;
  //colors
  --color-principal: #062743;
  --color-secondary: #113A5D;
  --color-third: #C4FFDD;
  --color-fourth: #F9F9F9;
  //extra Colors
  --negro: #202020;
}