.modal__container {
  background: rgba(0, 0, 0, 0.7);
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100dvw;
  height: 100dvh;
  display: flex;
  justify-content: center;
  align-items: center;

  .modal__form {
    background: var(--color-third);
    width: 18rem;
    height: 40rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    border: .3rem solid var(--negro);
    border-radius: .5rem;

    .modal__container__info {
      .modal__label {
        text-align: center;
        font-size: 2rem;
        margin-bottom: 1rem;
      }

      .modal__input {
        margin-bottom: 1rem;
        background: var(--color-fourth);
        border-radius: .3rem;
        padding: .5rem;
      }

      .modal__textarea {
        height: 18rem;
      }

      .modal__container__buttons {
        width: 100%;
        display: flex;
        justify-content: space-around;

        .modal__button {
          cursor: pointer;
          padding: .5rem 1rem;
          border-radius: .3rem;
          color: var(--color-third);
        }

        .modal__button__close {
          background-color: red;
        }

        .modal__button__save {
          background-color: var(--color-principal);
        }
      }
    }
  }
}

@media (min-width: 768px) {
  .modal__container {
    .modal__form {
      width: 28rem;

      .modal__input {
        width: 24rem;
      }
    }
  }
}